{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
     {% block hearder_extend %}{% endblock hearder_extend %}
</head>
<body>
    <div class="nav"> 
        <a class="logo">
            <!-- href="{% url 'home' %}" -->
        <h3>MyBlog</h3>
        </a>
        <a href="/">首页</a>
        <a href="{% url 'blog_list' %}">Blog</a>
    </div>
   {% block content %}{% endblock %} 
</body>
</html>
