{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    我的网站|首页
{% endblock %}
{% block hearder_extend %}
   <link rel="stylesheet" href="{% static 'home.css' %}">
   <script type="text/javascript" src="/static/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}
    active
{% endblock%}
    
{% block content %}
    <h3 class="home-content">welcome to my site</h3>
    <div id="container"></div>

<div class="hot_data">
    <h3>今日热门</h3>
    <ul>
        {% for hot_data in today_hot_data %}
        <li>
            <a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a> ({{ hot_data.read_num }})
        </li>
        {% empty %}
        <li>
            今日暂无热门
        </li>
        {% endfor %}
    </ul>
</div>

<div class="hot_data">  
    <h3>昨日热门</h3>
    <ul>
        {% for hot_data in yesterday_hot_data %}
          <li>
              <a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a> ({{ hot_data.read_num }})
          </li>
        {% empty %}
          <li>
              昨日暂无热门
          </li>  
        {% endfor %}
    </ul>
</div>
   
<div class="hot_data">
    <h3>本周热门</h3>
    <ul>
        {% for hot_data in seven_days_hot_data %}
          <li>
              <a href="{% url 'blog_detail' hot_data.id %}">{{ hot_data.title }}</a> ({{ hot_data.read_num_sum }})                
          </li>
        {% empty %}
          <li>
              本周暂无热门
          </li>  
        {% endfor %}
    </ul>
</div> 
    <script> 
             var options= { 
                chart: {
                    type: 'line'
                },
                title: {
                    text: '前一周的阅读数据'
                },
                xAxis: {
                    categories: ['1', '2', '3','4', '5', '6','7'],
                    tickmarkPlacement:'on',
                },
                yAxis: {
                    title: {
                        text: null
                    },
                    labels:{ enabled:false },
                    gridLineDashStyle:'dash'
                },
                series: [{
                    name: '阅读量',
                    data:{{ read_nums}},
                }],
                plotOptions:{
                     line:{
                         dataLabels:{
                             enabled:true
                         }
                     }
                },
                legend:{ enabled:false },
                credits:{ enabled:false }
            };
            var Chart = Highcharts.chart('container', options);
    </script>
{% endblock %}

